services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - traefik.http.routers.frontend.rule=Host(`nastart.tmashop.ru`)
        #- traefik.http.routers.frontend.rule=PathPrefix(`/`)
        #- traefik.http.routers.frontend.tls=true
        # - traefik.http.routers.frontend.tls.certresolver=myresolver
        #- traefik.http.routers.frontend.entrypoints=websecure
      - traefik.http.services.frontend.loadbalancer.server.port=80
    networks:
      - traefik_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.api
    labels:
      - "traefik.enable=true"
      - traefik.http.routers.backend.rule=Host(`nastart.tmashop.ru`) && PathPrefix(`/api`)
      - traefik.http.middlewares.strip-api.stripPrefix.prefixes=/api
      - traefik.http.routers.backend.middlewares=strip-api
      - traefik.http.services.backend.loadbalancer.server.port=8000
        # - traefik.http.routers.backend.tls.certresolver=myresolver
        # - traefik.http.routers.backend.tls=true
    networks:
      - traefik_network
    depends_on:
      - db
  tg-bot:
    build:
      context: ./backend
      dockerfile: Dockerfile.bot
    depends_on:
      - db
    networks:
      - traefik_network
    volumes:
      - ./media/photos:/media/photos
  tg-bot2:
    build:
      context: ./backend
      dockerfile: Dockerfile.bot
    depends_on:
      - db
    networks:
      - traefik_network
    volumes:
      - ./media/photos:/media/photos
    env_file:
      - ./backend/.env2
      
  media-server:
    image: nginx:latest
    volumes:
      - ./media/photos:/usr/share/nginx/html/photos:rw
    labels:
      - "traefik.enable=true"
      - traefik.http.routers.media.rule=Host(`nastart.tmashop.ru`) && PathPrefix(`/photos`)
      - traefik.http.services.media.loadbalancer.server.port=80
    networks:
      - traefik_network

  db:
    image: postgres:15
    env_file:
      - backend/.env
    networks:
      - traefik_network
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
networks:
  traefik_network:
    external: true